#image-card{


    .tags-wrap{
        margin-bottom: 10px;

        .tags{
            border-radius: 6px;
            color: rgb(255, 255, 255);
            display: inline-block;
            font-weight: 600;
            margin-right: 7px;
            margin-bottom: 5px;
            padding: 2px 10px;
    
            &:last-child{
                margin-right: 0px;
            }
        }
    }

    .thumb{
        color: #0000ee;
        
        svg{
            margin-top: -4px;
            margin-right: 3px;
        }
    }

    .comment{
        svg{
            margin-top: -4px;
            margin-right: 3px;
        }
    }

    a{
        cursor: pointer;
    }
}


