#image-card{

    .thumb{
        color: #0000ee;
        
        svg{
            margin-top: -4px;
            margin-right: 3px;
        }
    }

    .comment{
        svg{
            margin-top: -4px;
            margin-right: 3px;
        }
    }

    a{
        cursor: pointer;
    }
}


