.banner-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: url("../../static/img/forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: relative;
    height: 340px;

    .input-wrap{
        display: flex;
        border-radius: 0 8px 8px 0;
        width: 600px;

        input{
            border: none;
            border-radius: 8px 0 0 8px;
            padding: 12px;
            width: 100%;

            &:focus{
                outline: none;
            }
        }

        .btn-slider{
            border: none;
            width: 65px;
            
            svg {
                // color: #fff;
                font-size: 18px;
            }
        }

        .btn-search{
            background: #247547;
            border-radius: 0 8px 8px 0;
            height: 100%;
            border: none;
            width: 70px;
            
            &:disabled {
                background: #6c6c6c;
                cursor: not-allowed;
            }

            svg {
                color: #fff;
                font-size: 18px;
                margin-top: -5px;
            }
        }
    }

    .options-wrap{
        background: #fff;
        border-radius: 0 0 8px 8px;
        border-top: 1px solid #7b7b7b;
        box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
        max-height: 0px;
        height: 40px;
        width: 550px;
        transition: all ease .4s;

        ul{
            display: flex;
            justify-content: space-around;

            margin-top: 5px;
            width: 100%;

            li{
                margin-right: 10px;

                select{
                    border: none;

                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }

    .visible{
        max-height: 40px;
        transition: all ease .3s;
    }

    .off-select{
        height: 0;
        transition: all ease .1s;
    }

    .on-select{
        height: 24px;
        transition: all ease .4s;
    }
}
